<h1>Editing Friends </h1>

<%= render 'form', fable: @fable %>
</br>
</br>
<%= link_to 'Show', @fables_path , class:"btn btn-secondary"%> 
<%= link_to 'Back', fables_path , class:"btn btn-secondary" %>
